.container {
    width: 100%;
    min-height: 92.3vh;
    margin: 0 auto;
}
.header {
    background-color: var(--bg-200);
    padding: 2em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: #61398f49 0px 8px 24px;
    user-select: none;
}
.header__subtitulo {
    font-size: 0.8rem;
    color: var(--text-300);
    margin-bottom: 0.5em;
    display: inline-block;
}
.header__titulo {
    font-size: 1.5rem;
    color: var(--text-100);
}
.header__btn {
    font-size: 0.8rem;
    background: var(--btn_background);
    color: var(--primary-300);
    border: none;
    border-radius: 2em;
    width: 90px;
    height: 40px;
    cursor: pointer;
    transition: transform 300ms, background-color 300ms, box-shadow 300ms;
    box-shadow: rgba(140, 46, 228, 0.226) 0px 10px 20px, rgba(126, 80, 233, 0.23) 0px 6px 6px;
}
.bx-plus {
    display: none;
}
.header__btn:hover {
    background-color: var(--hoverBtn);
    box-shadow: rgba(39, 42, 201, 0.151) 0px 10px 20px, rgba(71, 125, 207, 0.23) 0px 6px 6px;
    transform: scale(0.95);
}
.header__btn:active {
    transform: scale(0.9);
}


.register__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em auto;
    padding: 1em;
    gap: 1em;
}

.noUser {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    font-size: 2rem;
    color: var(--text-100);
}

@media (min-width:800px) {
    .register__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:1400px) {
    
    .header__titulo {
        font-size: 1.7rem;
        color: var(--text-100);
    }

    .register__body {
        padding: 1em 4em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        place-items: center;
    }
    .header {
        padding: 1.5em 5.5em;
    }
    .header__btn {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-size: 1rem;
    }
    .bx-plus {
        display: inline-block;
        font-size: 1rem;
    }
}